
@import "bootstrap"; 

$typeColour: #FFFFFF;
$headingColour: #FFFFFF;
$footerColour: #232323;
$textBodySize: 20px;
$textHeaderSize: 100px;

$thin: 100;
$light: 300;
$book: 400;
$bold: 700;
$extrabold: 900;



html, body, section {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index:-3;
	
}

#philLink{

	padding: 50px;
	color: white;
}
#philLink:hover{

	color:white;
	text-decoration:none;
}

p {
	font-family: 'Lato', sans-serif;
	color: #FFFFFF;
	font-weight: $light;
	font-size: $textBodySize;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: $bold;
	color: $typeColour;
	font-size: $textHeaderSize;
}

footer {
	padding: 0 !important;
}

#CILink{


  vertical-align: middle;
}


.content-block {
	margin-right: 0 !important;
	height:100%
}

.filler {
	height: 500px;
	background-color: $footerColour;
	margin: 0px !important;
}

.cu-logo {
	margin-top: 80px;
	max-width: 400px;
}

.ci-logo{
	max-width: 75px;
	float: left;
	margin-top: 15px;
	margin-left: 25px;

}

.buddha{

	width: 100%;
	height: 100%;
	background-color:#34A0CB;
	z-index:-1;
}

.taoism{
	width: 100%;
	height: 100%;
	background-color:#D2AF34;
	z-index:-1;
}

.confucius{
	width: 100%;
	height: 100%;
	background-color:#4CBA1F;
	z-index:-1;
}

.legalism{

	background-color:#BD2D30;
	width: 100%;
	height: 100%;
	z-index:-1;

}

.blocks{
	height:100%;

}

.rightCenter{

	margin-right: 10px;
	margin-top: 100px;
	text-align: right;
	height:100%
}

.leftCenter{

	margin-left: 25px;
	margin-bottom: 100px;
	text-align: left;
	height:100%;
}

#list{

	text-align: center;
	display: inline;
	padding: 10px;
	margin: 10px;
	color: #FFFFFF;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 25px;
}

#menu{

	margin-top:35px;
}

nav{
	background-color:#000000;
	max-height: 100px;
	height: 105px;
    /*transition: max-height 0.15s ease-out;*/
    overflow: hidden;
	position: fixed;
	width: 100%;
	top: 0;
	text-align: center;
	transition: max-height 0.5s ease;
	opacity: 0.8;
	z-index:2;

}
.hiddens{
	background-color:#000000;
	max-height: 0px;
    transition: max-height 0.50s ease-in;
  
}
.showing{
	background-color:#000000;
	max-height: 100px;
    transition: max-height 0.50s ease-in;

}

.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	text-decoration: none;
}

.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {

	text-decoration: none;
}

span.popup {
  height: 0;
  color: #fff;
  position: relative;
  cursor: pointer;

  &:after {
    content: attr(data-popuptext);
    background: rgba(0, 0, 0, 0.85);
    border-radius: 3px;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    transition: 500ms ease;
    white-space: nowrap;
    max-height: 0;
  }
  
  &:hover:after {
    opacity: 1;
    max-height: 200px;
  }


}


.headerBlock {

overflow: hidden;

	width: 100%;
	height: 100%;
	z-index:1;


	video {
		z-index: -1;
		transform: scale(1.2);
	}

	h1 {
		font-size: 250px;
		line-height: 180px;
	}

	h3 {
		font-size: 60px;
		margin-left: 5px;
		font-weight: $book;
		letter-spacing: 1px;
	}
}

video {
	width: 100%;
	height: 100%;
	top: 0;
}

.expTitle, .expDesc {
	position: absolute;
	margin-top: 155px;
	z-index: 1;
	text-shadow: 0px 2px #383838;
}

.expTitle {
	margin-left: 30px;
}

.expDesc {
	margin-top: 670px;
	margin-left: 40%;
	p {
		font-size: 30px;
		line-height: 40px;
	}
}

.download-block {
	//background-image: url("http://bit.ly/1TehKl5");
	//background-image: url("http://bit.ly/1IpKmSx");
	background-image: url("http://bit.ly/1TjySX9");
	background-size: cover;
	background-position-y: -80px;
	height: 800px;
	width: 100%;

	.expTitle {
		margin-top: 115px;
	}

	h3 {
		font-size: 60px;
		font-weight: $book;
		letter-spacing: 1px;
	}

	h1 {
		line-height: 90px;
		font-size: 130px;
	}

	p {
		margin-top: 260px;
		margin-left: 50px;
		color: #282828;
	}

}

.download {
	height: auto;
	width: 100%;
	margin-top: 400px;

	a {
		text-decoration: none;
	}

	img {
		width: 80px;
		height: auto;
		margin-bottom: 5px;
	}

	h3 {
		font-size: 70px;
		font-weight: 600;
		margin-top: 0px !important;
		text-shadow: 0px 2px #383838;
	}
}

.downloadIcon {
	height: 50px;
	width: auto;
}

.fadeIn {

	img {

	transform: translateZ(0);
	transition-duration: 0.3s;
	transition-property: transform;
	transition-timing-function: ease-out;
	}

	&:hover {

		img {
		transform: translateY(8px);
		}
	}
}


.linkHeader{

	text-decoraton: bold;
	a {
		text-decoration: none;
		color:#FFFFFF;
	}

	a:hover {
    color: gray;
	}
}

.demoDL{
	
	border-left: thin solid #FFFFFF;
	line-height: 200px;
	margin-top: 20px;
	color: #FFFFFF;


}

.About{

	margin-top: 20px;
	border-left: thin solid #FFFFFF;
	line-height: 200px;
	color: #FFFFFF;

}

.philLink{

	margin-top: 50px;
	color: #FFFFFF;
		a {
		text-decoration: none;
		color:#FFFFFF;
	}

	a:hover {

    	color: gray;

	}
		p {
		text-decoration: none;
		color:#FFFFFF;
		font-size: 20px;
	}

}

.footerLinks{

    border-bottom: thin solid #FFFFFF;
    color: #FFFFFF;
}

.arrow{

	height: 50px;
	width: auto;
	margin-top: 115px;

}

.copyright{

	font-size: 15px;
	margin-top: 30px; 
}

.newColour{

	color: gray;
}

@charset "UTF-8";
/* CSS Document */

#bg{
	background-image:url(../images/outline3.png);
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/*Symbol Fill*/

#buddha2{
	-webkit-animation: fade 5s infinite;
	-webkit-animation-timing-function:ease;
	z-index:4;
}

@-webkit-keyframes fade{
	0%{ opacity: 0.0; background-image:url(../images/buddhism2.png);}
	10%{ opacity: 1.0;background-image:url(../images/buddhism2.png); }
	30%{ opacity: 0.0; background-image:url(../images/buddhism2.png);}
	
	45%{ opacity: 0.0; background-image:url(../images/silk2.png); }
	70%{ opacity: 1.0; background-image:url(../images/silk2.png); }
	90%{ opacity: 0.0; background-image:url(../images/silk2.png); }
	
	100%{ opacity: 0.0; background-image:url(../images/buddhism2.png);  }	
}

#tao2{
	-webkit-animation: fade2 5s infinite;
	-webkit-animation-timing-function:ease;
	
}

@-webkit-keyframes fade2{
	0%{ opacity: 0.0; background-image:url(../images/tao2.png);-webkit-transform: rotate(360deg); }
	10%{ opacity: 1.0;background-image:url(../images/tao2.png);  }
	30%{ opacity: 0.0; background-image:url(../images/tao2.png);}
	
	45%{ opacity: 0.0; background-image:url(../images/tai2.png); }
	70%{ opacity: 1.0; background-image:url(../images/tai2.png); }
	90%{ opacity: 0.0; background-image:url(../images/tai2.png); }
	
	100%{ opacity: 0.0; background-image:url(../images/tao2.png);  }	
}


#con2{
	-webkit-animation: fade3 5s infinite;
	-webkit-animation-timing-function:ease;
}

@-webkit-keyframes fade3{
	0%{ opacity: 0.0; background-image:url(../images/con2.png);}
	10%{ opacity: 1.0;background-image:url(../images/con2.png);  }
	30%{ opacity: 0.0; background-image:url(../images/con2.png);}
	
	45%{ opacity: 0.0; background-image:url(../images/cali2.png); }
	70%{ opacity: 1.0; background-image:url(../images/cali2.png); }
	90%{ opacity: 0.0; background-image:url(../images/cali2.png); }
	
	100%{ opacity: 0.0; background-image:url(../images/con2.png);  }	
}



#leg2{
	-webkit-animation: fade4 5s infinite;
	-webkit-animation-timing-function:ease;
}

@-webkit-keyframes fade4{
	0%{ opacity: 0.0; background-image:url(../images/legal2.png);}
	10%{ opacity: 1.0;background-image:url(../images/legal2.png);  }
	30%{ opacity: 0.0; background-image:url(../images/legal2.png);}
	
	45%{ opacity: 0.0; background-image:url(../images/army2.png); }
	70%{ opacity: 1.0; background-image:url(../images/army2.png); }
	90%{ opacity: 0.0; background-image:url(../images/army2.png); }
	
	100%{ opacity: 0.0; background-image:url(../images/legal2.png);  }	
}


.symbolfill{
	position:fixed;
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	width:100%;
	height:100%;
	z-index: 7;
	display:none;
}

a{
	z-index:9999;
}

/*End Symbol Fill*/
