
@import "bootstrap"; 

$typeColour: #FFFFFF;
$headingColour: #FFFFFF;
$footerColour: #232323;
$textBodySize: 20px;
$textHeaderSize: 100px;

$thin: 100;
$light: 300;
$book: 400;
$bold: 700;
$extrabold: 900;

p {
	font-family: 'Lato', sans-serif;
	color: $typeColour;
	font-weight: $light;
	font-size: $textBodySize;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: $bold;
	color: $typeColour;
	font-size: $textHeaderSize;
}

footer {
	padding: 0 !important;
}


.content-block {
	margin-right: 0 !important;
}

.filler {
	height: 500px;
	background-color: $footerColour;
	margin: 0px !important;
}

.cu-logo {
	max-width: 400px;
}

.ci-logo{
	max-width: 200px;

}

.buddha{
	background-color:#65A3CE;
}

.taoism{
	background-color:#CCCA66;
}

.confucius{
	background-color:#76CC6A;
}

.legalism{

	background-color:#CC6969;

}

.blocks{

}

.rightCenter{

	margin-right: 10px;
	margin-top: 100px;
	text-align: right;
}

.leftCenter{

	padding-left: 25px;
	margin-bottom: 100px;
	text-align: left;
}



